@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Raleway');

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Nunito', sans-serif;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-inner {
  text-align: center;
}

#navigasi {
  text-align: center;

}

span.glyphicon {
  color: grey;
  font-size: 2em;
  margin: 10px 10px 10px 10px;

}
